﻿@model TestMIEApp.Models.Test

<div class="container">
    <div class="row">
        <div class="col-md text-center text-md-left mt-xl-5 mb-5">
            <h1 class="h1-responsive font-weight-bold mt-sm-5" style="color:black">Instruction</h1>
            <hr class="hr-light">
            <h4 class="mb-4">
                For each image of eyes, choose which one word best describes what the person in the picture is thinking or feeling.
                If you really don't know what a word means, you can hover over the mouse, a definition will appear.
            </h4>
            <div><img class="img-instr" src="@Model.Instruction.PhotoUrl" alt="" /></div>

            @foreach (var item in Model.Instruction.Answers)
            {
                <div class="btn-group-lg tool">
                    <button type="button" class="btn btn-default btn-my">
                        @item.Answer
                    </button>
                    <span class="tooltiptext">@item.Definition</span>
                </div>
            }

            <h4 class="mb-4">
                After selecting your emotions, you can go to the next page of the test, but remember that you cannot go back to previous pages of the test.
            </h4>
            <a asp-controller="Test" asp-action="Test" class="btn btn-group-lg" role="button">Let's GO!</a>
        </div>

    </div>
</div>
