﻿@model TestMIEApp.Models.PersonalData

<div class="container">
    <div class="row">
        <div class="col-md-6 text-center text-md-left mt-xl-5 mb-5">
            <h1 class="h1-responsive font-weight-bold mt-sm-5" style="color:black">Form</h1>
            <hr class="hr-light">
            <h4 style="color:black">
                Tell us a little about yourself and start the test.<br />
                This will help us create statistics to compare your score with other same-sex results. <br />
                <br />
            </h4>
            <form asp-action="Start" method="post" class="form-horizontal" role="form">
                <div class="form-group">
                    <label asp-for="PersonGender" class="col-md-2 control-label">Gender</label>
                    <div class="col-md-4">
                        <select class="form-control" asp-for="PersonGender" asp-items="Html.GetEnumSelectList(typeof(PersonalData.Gender))">
                            <option selected="selected" value="">Please select</option>
                        </select>
                        <span asp-validation-for="PersonGender" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Age" class="col-md-2 control-label"></label>
                    <div class="col-md-4">
                        <input type="number" asp-for="Age" class="form-control" min="1" max="116" />
                        <span asp-validation-for="Age" class="text-danger"></span>
                    </div>
                </div>
                <hr class="hr-light">
                <input type="submit" class="btn btn-group-lg" value="Start" />
            </form>

        </div>
    </div>
</div>

            



