﻿@model TestMIEApp.Models.Test

<div class="container">
    <div class="row">
        <div class="col-md-6 text-md-left mt-xl-5 mb-5">      
            @foreach (var item in Model.TestsPages)
            {
                <div>
                    <img src="@item.PhotoUrl" alt="" />
                </div>
            }
            <a asp-controller="Test" asp-action="Test" class="btn btn-group-lg" role="button" ;>Next</a>
        </div>

    </div>
</div>

