﻿html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

container-fluid {
    min-height: 100%;
    position: relative;
}


@media (max-width: 989px) {
    /*.bg {
        background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.6) 100%), url("https://images.pexels.com/photos/1091690/pexels-photo-1091690.jpeg?cs=srgb&dl=biale-tlo-duze-oczy-ekstremalny-1091690.jpg&fm=jpg") !important;
    }*/
}
@media (min-width: 990px) and (max-width: 1024px) {}

@media (min-width: 1025px) {}

.btn .fa {
  margin-left: 3px;
}

.navbar-toggle .icon-bar {
    background-color: #337ab7;
}

@media (max-width: 989px) {
    .navbar-header, .collapse navbar-collapse {
        background-color: rgba(255, 255, 255,.8)
    }
}

.bg {
    /* The image used */
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.6) 100%), url("https://images.pexels.com/photos/1091690/pexels-photo-1091690.jpeg?cs=srgb&dl=biale-tlo-duze-oczy-ekstremalny-1091690.jpg&fm=jpg");
    /* Half height */
    background-color: rgba(200,200,200,0.3);
    /*height: 100vh;*/
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom:20px;

}

.footer {
    color: #23527c;
    position: fixed;
    bottom: -30px;
    transition: 1s;
    text-align: center;
    width: 280px;
    left: 50%;
    transform: translate(-50%, 0);
}

.footer div {
    text-align: center;
}

.footer:hover {
    cursor: pointer;
    bottom: 0;
    transition: 1s;
}

.btn {
    background-color: rgba(242, 183, 132, 0.96);
    border: 1px solid wheat;
    color: white;
    margin: 20px;
    margin-bottom: 50px;
}

.btn:hover {
    background-color: wheat;
    border: 1px solid rgba(242, 183, 132, 0.96);
    color: rgba(242, 183, 132, 0.96);
}

.btn:focus {
    background-color: wheat;
    border: 1px solid rgba(242, 183, 132, 0.96);
    color: rgba(242, 183, 132, 0.96);
}

.btn-my {
    background-color: whitesmoke;
    border: 1px solid #337ab7;
    color: #337ab7;
    margin: 0;
    margin-bottom: 5px;
}

    .btn-my:hover {
        background-color: #66ade9;
        border: 1px solid whitesmoke;
        color: whitesmoke;
        transition: 0.5s ease-in-out;
        transform: translateY(2px);

    }

    .btn-my:focus {
        background-color: #337ab7;
        border: 1px solid whitesmoke;
        color: whitesmoke;
        animation: jump ease-out 0.5s;
    }

.img-instr {
    width: 70vw;
    max-width: 700px;
    margin: 30px;
    margin-bottom: 40px;
}

.tool {
    position: relative;
    padding: 0;
    display:inline-block;
}


    .tool .tooltiptext {
        width: 20vw;
        visibility: hidden;
        background-color: #ffdcd3;
        border: 1px solid #337ab7;
        color: #337ab7;
        text-align: justify;
        border-radius: 6px;
        padding: 7px;
        position: absolute;
        z-index: 1;
        bottom: 110%;
        left: 50%;
        margin-left: -60px;
        transition: ease-out 0.5s;
    }

.tool .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50px;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #337ab7 transparent transparent transparent;
    }

    .tool:hover .tooltiptext {
        animation: show_hide ease-out 3s;
    }

@keyframes show_hide {
    0% {
        visibility: hidden;
    }

    10% {
        visibility: visible;

    }

    80% {
        visibility: visible;
    }

    100% {
        visibility: hidden;
    }

}

@keyframes jump {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.1) rotate(5deg);
    }
    50% {
        transform: scale(1.2) rotate(0);
    }
    75% {
        transform: scale(1.1) rotate(-5deg);
    }
    100% {
        transform: scale(1) rotate(0);
    }

}