﻿
    <div class="container"> 
        <div class="row">
            <div class="col-md-6 text-center text-md-left mt-xl-5 mb-5">
                <h1 class="h1-responsive font-weight-bold mt-sm-5" style="color:black">Social Intelligence Test</h1>
                <hr class="hr-light">
                <h4 class="mb-4" style="color:black">
                    <strong><br />Find out how well you can read emotions of others just by looking at their eyes.</strong><br />
                    <br />
                </h4>
                <h4 style="color:black">
                    The ability to read the emotions of others is linked to "social intelligence" which, in turn, is linked to performance on team-based problem solving tasks.<br />
                    <br />
                    <br />
                </h4>
                <hr class="hr-light">
                <h5 style="color:black">The test typically takes 10 minutes to complete.<br /></h5>
                <hr class="hr-light">
                <a asp-controller="Test" asp-action="Start" class="btn btn-group-lg" role="button">Try it!</a>
            </div>
                      
        </div>
    </div>






